img {
    border-radius: 50%;
}
.description {
    font-size: 20px;
}
  
#cook-time {
    font-weight: bold;
}
  
.ingredients {
    list-style: square;
}
  
.time {
    color: gray;
}
.citation,.external-link {
    color: SeaGreen;
}
  
h1,h2,p,li {
    font-family: Helvetica;
}