*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    border:1px solid red;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.timer{
    min-width: 600px;
    min-height: 50px;
    width: 60%;
    height: 5%;
}
.boxes{
    min-width: 750px;
    min-height: 600px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.boxes > .box {
    border:1px solid black;
    width: 30%;
    height: 30%;
    border-radius: 15px;
} 
.timer > progress {
    width: 100%;
    height: 100%;
}
