*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    border:1px solid red;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    border:1px solid black;
    min-width: 200px;
    min-height: 200px;
    width: 25vh;
    height: 25vh;
    margin: 0 10px;
    border-radius: 15px;
}