*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    border:1px solid red;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    background-color: #e9e9e9;
    cursor: pointer;
}
.btn:active{
    background-color: #cfcfcf;
}

.btn > *{
    height: 2vh;
    max-height: 50px;
    min-height: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn > .btn__icon > img {
    height: 2vh;
    justify-self: center;
    width: 2vh;
}
.btn > .btn__text > p{
    font-size: 20px;
    text-transform: capitalize;
    justify-self: center;
    user-select: none;
}

.quote {
    margin-top: auto;
    margin-bottom: auto;
    width: 60vw;
    min-width: 600px;
}
.quote__content > p {
    font-size: 50px;

}
.quote__author > p {
    font-size: 20px;
    font-style: italic;
    text-align: right;
    
}